.main-register-form-container {
  max-width: 50rem;
  margin: 0 auto;
  box-shadow: 0.2rem 0.5em 0.9rem rgb(14, 14, 14);
  border-radius: 2rem;
  padding: 1rem;
}
.register-title {
  text-align: center;
}
