@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans&family=Mouse+Memoirs&family=Open+Sans:wght@300;600&family=Passion+One:wght@700&family=Poppins:wght@300;400;500&family=Roboto:wght@100;300;400;500;700;900&family=Sedgwick+Ave&display=swap');

h1 {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 5rem;
  margin-bottom: 12rem;
}

.home-page-container {
  text-align: center;
}

.nav-link {
  color: rgb(10, 149, 255);
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 5rem;
  text-decoration: none;
}
